*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ganeratorCard{
   padding: 50px;
    align-items: center;
}
.items{
    background: black;
    width: 500px;
}
.titlePass{
    color: white;
    font-weight: bold;
}
.inputValue{
    width: 80px;
    height: 36px;
    
    
}
.heading{
    color: white;
    
}

/* responsive style the apps */
@media only screen and (max-width: 414px) {
    .items {
        width: 483px;
      }
  }

  @media only screen and (max-width: 393px) {
    .items {
        width: 415px;
      }
  }
@media only screen and (max-width: 360px) {
    .items {
        width: 378px;
      }
  }
 